Package: wireless-bcm43142-oneiric-dkms
Version: 6.20.55.19~bdcom0602.0400.1000.0400-0somerville1
Architecture: amd64
Maintainer: Hsin-Yi Chen (hychen) <hycehn@canonical.com>
Installed-Size: 4280
Depends: dkms, linux-libc-dev, libc6-dev, linux-headers-generic | linux-headers
Conflicts: bcmwl-kernel-source
Section: admin
Priority: optional
Description: Broadcom 802.11 Linux STA wireless driver source
 This package contains Broadcom 802.11 Linux STA wireless driver
 for use with Broadcom's BCM43142 hardware.
Modaliases: hwe(pci:v000014E4d00004365sv*sd*bc*sc*i*)
